.footer {
    background-color: #222;
    color: #fff;
    text-align: left;
    padding: 10px 20px;   /* réduit le padding */
    font-size: 0.82rem;   /* réduit la taille du texte */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
